{% extends "base.html"%}
{% block content%}
    <section class="hero">
        <h1>CALCULO AI</h1>
        <p>Your AI powered Calculus assistant</p>
        <p>Upload a textbook, snap a problem, or just type it in</p>
        <a href="{{url_for('solver')}}" class = "cta">Start Solving</a>
        <a href="{{url_for('quiz')}}" class = "cta">Take a Quiz</a>
    </section>

    <section class="features">
        <h2>What Can I Do?</h2>
        <p>🧮 Step-by-step solving</p>
        <p>📈 Graph plotting </p>
        <p>📖 Formula reference</p>
        <p>❓ Quiz mode</p>
    </section>
{% endblock %}

